<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Usuarios List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Nome</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of responseUsers">
              <td>{{usuario.nome}}</td>
              <td>{{usuario.user}}</td>
            </tr>
      </tbody>
    </table>
  </div>
</div>




